body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f7b438;
}

.form-container {
  max-width: 400px;
  width: 100%;
  background-color: #a39d9d;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(204, 61, 61, 0.3);
}

.form-container label {
  font-weight: bold;
}

.form-container input[type="text"],
.form-container input[type="email"],
.form-container input[type="tel"],
.form-container select {
  width: 100%;
  padding: 12px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-container input[type="date"] {
  background-color: rgb(20, 173, 15);
  padding: 9px;
  font-family: "Roboto Mono", monospace;
  color: #ffffff;
  font-size: 12px;
  border: none;
  outline: none;
  border-radius: 5px;
}

::-webkit-calendar-picker-indicator {
  background-color: #ffffff;
  padding: 5px;
  cursor: pointer;
  border-radius: 3px;
}

.form-container button {
  background-color: #4CAF50;
  color: white;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
  border-radius: 4px;
}

.form-container button:hover {
  background-color: #45a049;

}